[Desktop Entry]
Name=AnyLabeling
Comment=Effortless data labeling with AI support
Exec=AnyLabeling
Icon=anylabeling/resources/images/logo.png
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;MachineLearning
