[Desktop Entry]
Name=anylabeling
Comment=No-code labeling and training toolkit for computer vision
Exec=anylabeling
Icon=anylabeling
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;MachineLearning
